<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

  <div>
    <app-product-list (productSelected)="onProductSelected($event)" (productsChanged)="onProductsChanged($event)" />
  </div>

  <div class="flex flex-col gap-6 justify-between h-full">
    @if (selectedProductId() !== null) {
    <app-product-detail [productId]="selectedProductId()!" />
    }

    @if (chartData().length > 0) {
    <div class="h-[300px]">
      <app-bar-chart [data]="chartData()" title="Sales Volume" yAxisLabel="Total Sales" barColor="#1976D2" />
    </div>
    }
  </div>
</div>